


html {
  font-family: 'Nanum Gothic', sans-serif;
}


 /*
 Colors for test 3

 middle green -     #4D865F
 Cambridge Green -  #A4CBB1
 Cadet blue -      #5C969D
 Blue Sapphire -    #146188

 off white -        #dedee4

/* ------- Stable Headers - Start ------- */

body {
  background-image: url("img/backgroundGradient2.png");
  background-size: cover;
  background-color: #5C969D ;
}

.homepageContent {
  padding: 0 16px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.homepageContent h3 {
  color: #77C9D4;
}

.homepageContent a {
  color: #77C9D4;
}

h1 {
  color: #dedee4;
  font-weight: 800;
}

h2 {
  color: #dedee4;
  background-color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  
}

h3 {
  font-size: 28px;
  color: #dedee4
}

h4 {
  font-size: 35px;
  background-color: #687864;
  text-align: center;
  color: #F7F9FB;
}

p {
  color: #dedee4;
}

li {
  color: #dedee4;
}

/* ------- Stable Headers- End ------- */

/*-------- Hero and Teaser-start ------- */

.hero {
  background-color: #333;
  padding: 24px 16px;
  color: #F7F9FB;
  text-align: center;
  transition: ease-in-out 150ms;
}

.hero img {
  width: 35%;
}

@media (min-width: 900px) {
  .hero {
    border-radius: 18px;
    max-width: 884px;
    margin: 26px auto;
  }
  .teaserImage {
    border-radius: 25px
  }
}
/* ---this could be a problem!!!!!BELOW ! !!! !  ! ---
@media (max-width: 554px) {
    .hero {
      min-width: 554px;
    }
    .teaserImage {
      min-width: 554px;
    }
}
 */

.teaserImage {
  max-height: 300px;
  overflow: hidden;
}

.teaserImage-theImageSilly {
  width: 100%;
  
}
/* -------- Hero and Teaser - End -------*/



/* Nav try #2 */
 .main-nav {
  background-color: #333;
  overflow: hidden;
  width: fit-content;
  margin: auto;
  border-radius: 0 0 8px 8px;
 }

 .main-nav a {
  display: block;
  float: left;
  color: #dedee4;
  text-align: center;
  font-style: normal;
  font-size: large;
  padding: 14px 16px;
  text-decoration: none;
 }

 .main-nav .icon {
   display: none;
 }

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: large;
  font-weight: bold;
  border: none;
  outline: none;
  color: #dedee4;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16p 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:#dedee4;
  background-color: #333;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
  border-radius: 8px;
  
}

.main-nav a:hover, .dropdown:hover .dropbtn  {
  background-color: #5C969D;
  
  transition: ease-in-out 200ms;
}

.dropdown-content a:hover {
  background-color: #5C969D;
  color: #dedee4;
  transition: ease-in-out 200ms;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content, .dropbtn {
  display: block;
}

@media screen and (max-width: 810px) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav a:not(:first-child), .dropdown .dropbtn {
    display: none;
   
  }
  .main-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width:810px) {
  .main-nav.responsive {position: relative;}
  .main-nav.responsive a.icon {
    position: absolute;
    right: 0;
    left: 0;
  }

  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .main-nav.responsive .dropdown {float: none;}
  .main-nav.responsive .dropdown-content {position: relative;}
  .main-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

 
/* ------- Intro - Start ------- */

.intro {
  padding: 8px 16px 4px;
  text-align: left;
  font-size: 18px;
}

.intro img {
  width: 200px ;
  background-color: #4D865F;
  padding: 25px;
  border-radius: 15px;
}

.introduction_spanned {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}


/* ------- Intro - End ------- */

/* ------- About US - Start ------- */

.moreAboutUs {
  text-align: center;
  scroll-behavior: smooth;
}

.moreAboutUs img {
  width: 200px ;
  background-color: #4D865F;
  padding: 25px;
  border-radius: 15px;
}

.moreAboutUs a {
  color: #77C9D4;
  text-decoration: none;
  font-style: italic;
  
}

.moreAboutUs a:hover {
  color: #333;
}

  /* ------- About US - End ------- */

/* ------- Line Break - End ------- */

.hline {
  width: 100%;
  height: 1px;
  background-color: #dedee4;
  margin-top: 20px;
}

/* ------- Line Break - End ------- */


/* ------- Contact - Start -------*/

.contact {
  text-align: center;
  background-color: #4D865F;
  padding: 4px 8px;
  font-size: large;
}

.contact * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #A4CBB1;
}

.contact h2 {
  color: #146188;
  background-color: #A4CBB1;
  padding: 2px;
  max-width: 600px;
}

.contact h3 {
  font-size: 20px;
  color: #A4CBB1;
}

.contact a {
  color: #A4CBB1;
  text-decoration: none;

}

.contact img {
  width: 50px;
  background-color: #146188;
  padding: 8px;
  border-radius: 15px;
}

.contact a :hover  {
  background-color: #A4CBB1;
  transition: ease-in-out 500ms;
}

.baseTeaser {
  max-height: 230px;
  overflow: hidden;
}

.baseTeaser-theImage {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  
}

@media (max-width: 933px) {
  .baseTeaser-theImage {
    border-radius: 0;
  }
}

/* ------- Options - start (indext description item wrap)-------*/ 

.options {
  display: flex;
  flex-direction: column;
}

.option-learnMore a {
  background-color: #4D865F;
  border-radius: 4px;
  color: #A4CBB1;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold; 
}

.option-learnMore a:hover {
  background-color: #5C969D;
  transition: ease-in-out 500ms;
}

@media (min-width: 900px) {
  .options {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .options .option {
    width: calc(50% - 16px);
  }
}

.u-centerText {
  text-align: center;
  font-size: 0.89rem;
}

/* ------- Options - end (indext description item wrap)-------*/ 

/* ----------- Andy Going Rogue --------------------*/


/* ------- price style tag - Start ------- */

.price {
  background-color: #4D865F;
  border-radius: 15px;
  padding: 26px 64px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price--reduced::after {
  background: #77C9D4;
  content: "Reduced";
  display: block;
  left: -41px;
  padding: 8px;
  position: absolute;
  top: 19px;
  transform: rotate(-45deg);
  width: 132px;
  color: #4D865F;
  font-weight: bold;
}

.price-theCost {
  color: #146188;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  width: 300px;
}

.price-now,
.price-was {
  display: block;
}

.price-was {
  font-size: smaller;
  color: #A4CBB1;
  font-style: italic;
  padding-left: 16px;
}

/*----------- Affliliate Marketing Page Style (Sit-stand Desk) - Start ----------- */

.marketing_content {
display: inline-block;
text-align: center;
}



/*-----------Product 2.0 for "Long" boxes : used for CTS---------------*/
.pdf_home {
  padding: 0 16px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dedee4;
  border-radius: 10px;
  color: #333;
  
}

.pdf_article {
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  height: auto;
  transition: ease-in-out .3s;
  overflow: hidden;
  max-width: 875px;
}

.pdf_article h1 {
  color: #146188;
  text-align: center;
  font-family: Apple Chancery, cursive;
}

.pdf_article img {
  width: 100%;
  border-radius: 15px 0px;
}

.pdf_chart {
  max-width: 400px;
  border-radius: 15px 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pdf_article p, h3 {
  color: #333;
}

.pdf_article li {
  color: #333;
}

.pdf_article a {
  color: #333;
  font-weight: bolder;
}

.pdf_article a:hover {
  background-color: #77C9D4; 
  border-radius: 5px;
  text-decoration: none;
}


@media (max-width: 800px) {
  .pdf_home {
    border-radius: 0px;
  }
}

@media (min-width: 1000px) {
  .pdf_article {
    width: 50vw;
    background-color:none;
  }
}

@media (max-width: 1665px) {
  .pdf_article {
    width: auto;
  }
}

.productLong {
  text-align: center;
  background-color: #5C969D;
  color: #dedee4;
  padding: 15px;
  border-radius: 25px;
  
  margin: 5px auto;
  max-width: 500px;;
  height: fit-content;
}

.productLong a {
  color: #333;
  font-weight: bolder;
}

.productLong a:hover {
  background-color: #77C9D4; 
  border-radius: 5px;
  text-decoration: none;
}

.productLong h2 {
  margin: 0;
  padding: 15px, 0px;

}

.productLong h3 {
  font-size: 18px;
  text-align: center;
  color: #dedee4;
}

.productLong p {
  padding: 0px, 30px;
  text-align: center;
  color: #dedee4;
  
}

.productLong img {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}



@media (max-width: 570px) {
  .productLong {
    padding: 5px;
    border-radius: 10px;
  }
}


/*----------- Affliliate Marketing Page Style () - End ----------- */

/* ------- Call, Text, or email - Start-----*/
.rate-info {
  width: 100%;
  margin: 20px 0;
}

.rate-info h2 {
  background-color: #333;
  height: fit-content;
  color: #146188;
  font-size: 26px;
  margin: 0 auto;
}

.rate-info a {
  text-decoration: none;
  color: #5C969D;

}

@media (max-width: 600px){
  .rate-info {
    margin: 20px 0 0 0;
    transition: ease-in-out .4s;
  }
  .rate-info h2 {
    font-size: 22px;
  }
  .accordion {
    width: fit-content;
  }
}

/* ------- Call, Text, or email - End-----*/

/* ------- Accordion Start----- www.w3schools.com/howto/howto_js_accordion.asp*/
.accordion {
  background-color: #4D865F;
  color: #dedee4;
  font-weight: bolder;
  margin: 5px 0;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 0px 10px 0px 10px;
}


.active .accordion:hover {
  background-color: #687864;
}

.panel {
  padding: 0 18px;
  background-color: #A4CBB1;
  color: #333;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
  border-radius: 10px 0px 10px 0px;
}

.panel p, .panel a, .panel ul, .panel li {
  color: #333;
  font-weight: bold;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #dedee4;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02796";
  border-radius: 10px;
}

/* ------- Accordion End-----*/

/* ----   referral text - start ----- */
.referral {
  text-align: center;
}

.referral h2 {
  font-size: 18px;
}
/* ----   referral text - end ----- */


/* ----   PDF Article - start ----- */
/* ----   PDF Article - end ----- */


  
/* ------- Terms and Conditions - Satrt ------- */

.terms {
  color: #dedee4;
}

.terms a {
  color: inherit;
  text-decoration: none;
}

.terms a:hover {
  color: #77C9D4;
  transition: ease-in-out 500ms;
}

/* ------- Video Embed + media style - Start ------- */
.responsive-video {
  text-align: center;
  /* keep empty for media style to work */
}



@media (max-width: 800px) {
  /* adding responsive video breakpoint? */ 
  .responsive-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .responsive-video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}






/*Scroll Transistion Trial */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


