html {
  font-family: 'Nanum Gothic', sans-serif;
}


 /*
      -New color scheme attempt #1- 
  * Primary: #687864 (olive green)
  * Secondary: #31708E (ocean blue))
  * other: #5085A5 (light blue)
  * other: #8FC1E3 (light/soft blue)
  * other: #F7F9FB (off-white)
  */

body {
  background-color: #F7F9FB;
}

.homepageContent {
  padding: 0 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 800;
}

h2 {
  color: #F7F9FB;
  background-color: #31708E;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 35px;
  background-color: #687864;
  text-align: center;
  color: #F7F9FB;
}

.hero {
  background-color: #31708E;
  padding: 24px 16px;
  color: #F7F9FB;
  text-align: center;
}

.hero img {
  width: 35%;
}

@media (min-width: 900px) {
  .hero {
    border-radius: 18px;
    max-width: 884px;
    margin: 26px auto;
  }
}

.teaserImage {
  max-height: 300px;
  overflow: hidden;
}

.teaserImage-theImageSilly {
  width: 100%;
}

.intro {
  padding: 8px 16px 4px;
  text-align: center;
  font-size: 18px;
}

.contact {
  text-align: center;
  background-color: #8FC1E3;
  padding: 4px 8px;
}

.contact * {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact a {
  color: #444643;
}

.options {
  display: flex;
  flex-direction: column;
}

.option-learnMore a {
  background-color: #687864;
  border-radius: 4px;
  color: #F7F9FB;
  padding: 8px 12px;
  text-decoration: none;
}

@media (min-width: 900px) {
  .options {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .options .option {
    width: calc(50% - 16px);
  }
}

.u-centerText {
  text-align: center;
  font-size: 0.89rem;
}

/* ----------- Andy Going Rogue --------------------*/



.videoInfo{
  text-align: left;
  background-color:#8FC1E3;
  border-radius: 15px;
  padding: 8px;
  padding-right: 16px;
}

.videoInfo-heading {
  text-align: center;
}

.videoInfo ol {
  font-weight: bold;
  font-size: 17px;
}

.videoInfo ul {
  font-weight: normal;
  font-size: 15px;
}

.videoInfo ol > li {
  padding-top: 8px;
}

.price {
  background-color: #8FC1E3;
  border-radius: 15px;
  padding: 8px;
}

.oldPrice {
  font-size: 22px;
  text-decoration: line-through;
  color: #687864;
}

.newPrice {
  font-size: 24px;
  font-weight: bold;
}

  
