html {
  font-family: 'Nanum Gothic', sans-serif;
}


 /*
 Colors for test 3

 middle green -     #4D865F
 Cambridge Green -  #A4CBB1
 Cadet blue -      #5C969D
 Blue Sapphire -    #146188
 Ebony -            #5d6b55
 off white -        #dedee4

/* ------- Stable Headers - Start ------- */

body {

  background-image: url("img/backgroundGradient2.png");
  background-size: cover;
  background-color: #5C969D ;

}

.homepageContent {
  padding: 0 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #dedee4;
  font-weight: 800;
  

  animation: pulse 5s infinite
}

h2 {
  color: #dedee4;
  background-color: #146188;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 35px;
  background-color: #687864;
  text-align: center;
  color: #F7F9FB;
}

p {
  color: #dedee4;
}

li {
  color: #dedee4;
}

/* ------- Stable Headers- End ------- */

/*-------- Hero and Teaser-start ------- */

.hero {
  background-color: #146188;
  padding: 24px 16px;
  color: #F7F9FB;
  text-align: center;
  transition: ease-in-out 150ms;
}

.hero img {
  width: 35%;
}

@media (min-width: 900px) {
  .hero {
    border-radius: 18px;
    max-width: 884px;
    margin: 26px auto;
  }
}

.teaserImage {
  max-height: 300px;
  overflow: hidden;
}

.teaserImage-theImageSilly {
  width: 100%;
}

/* -------- Hero and Teaser - End -------*/

/* -------- Nav Play - Start --------*/ 

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4D865F;
  text-align: center; 
}

.nav li {
  display: inline;
  border-right: 1px solid #dedee4;
}

.nav li a {
  color: #A4CBB1;
  font-style: normal;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #5d6b55; 
  border-radius: 8px;
  padding: 12px 2px;
  transition: ease-in-out 200ms;
}


/* ------- Nav play - End -------*/ 

/* ------- Intro - Start ------- */

.intro {
  padding: 8px 16px 4px;
  text-align: center;
  font-size: 18px;
}


.intro img {
  width: 200px ;
  background-color: #4D865F;
  padding: 25px;
  border-radius: 15px;
  
}


/* ------- Intro - End ------- */

/* ------- Contact - Start -------*/

.contact {
  text-align: center;
  background-color: #4D865F;
  padding: 4px 8px;
  font-size: large;
}

.contact * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #A4CBB1;
}

.contact h2 {
  color: #146188;
  background-color: #A4CBB1;
  padding: 2px;
  max-width: 600px;
}

.contact h3 {
  font-size: 20px;
  color: #A4CBB1;
}

.contact a {
  color: #A4CBB1;
  text-decoration: none;

}

.contact img {
  width: 50px;
  background-color: #146188;
  padding: 8px;
  border-radius: 15px;
}

.contact a :hover  {
  background-color: #A4CBB1;
  transition: ease-in-out 500ms;
  
}

/* ------- Options - start (indext description item wrap)-------*/ 

.options {
  display: flex;
  flex-direction: column;
}

.option-learnMore a {
  background-color: #4D865F;
  border-radius: 4px;
  color: #A4CBB1;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold; 
}

.option-learnMore a:hover {
  background-color: #5d6b55;
  transition: ease-in-out 500ms;
}

@media (min-width: 900px) {
  .options {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .options .option {
    width: calc(50% - 16px);
  }
}

.u-centerText {
  text-align: center;
  font-size: 0.89rem;
}

/* ------- Options - end (indext description item wrap)-------*/ 

/* ----------- Andy Going Rogue --------------------*/

/* ------- Consultation page description - Start ------- */
.videoInfo{
  text-align: left;
  background-color:#4D865F;
  border-radius: 15px;
  padding: 8px;
  padding-right: 16px;
}

.videoInfo-heading {
  text-align: center;
}

.videoInfo a {
  color: #dedee4;
  overflow-wrap: break-word;
}

.videoInfo a:hover {
  background-color: #77C9D4; 
  border-radius: 5px;
  padding: 2px
}

.videoInfo ol {
  font-weight: bold;
  font-size: 17px;
}

.videoInfo ul {
  font-weight: normal;
  font-size: 15px;
}

.videoInfo ol > li {
  padding-top: 8px;
}

.videoInfo li {
  padding-bottom: 4px;
}

.videoInfo h3 {
  color: #146188;
}

/* ------- Consultation page description - End ------- */
/* ------- price style tag - Start ------- */

.price {
  background-color: #4D865F;
  border-radius: 15px;
  padding: 26px 64px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price--reduced::after {
  background: #77C9D4;
  content: "Reduced";
  display: block;
  left: -41px;
  padding: 8px;
  position: absolute;
  top: 19px;
  transform: rotate(-45deg);
  width: 132px;
  color: #015249;
  font-weight: bold;
}

.price-theCost {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  width: 300px;
}

.price-now,
.price-was {
  display: block;
}

.price-was {
  font-size: smaller;
  color: #687864;
  font-style: italic;
  padding-left: 16px;
}

/*----------- Affliliate Marketing Page Style (unused) - Start ----------- */

.marketing_content {
display: inline-block;
text-align: center;
 

}

.product {
  background-color: #687864;
  color: #F7F9FB;
  padding: 15px;
  border-radius: 25px;
  display: inline-table;
  margin: auto;
  width: 500px;
  height: 550px;

 
}

.product p {
  padding: 0px, 30px;
  text-align: center;
}

.product img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_everything {
  align-content: center;
  align-items: center;
  justify-content: center;

}
/*----------- Affliliate Marketing Page Style () - End ----------- */


/* ----   referral text - start ----- */
.referral {
  text-align: center;
}

.referral h2 {
  font-size: 18px;
}
/* ----   referral text - end ----- */

/*------ free assessment page - start---------*/

.free_assessment_main {
  font-size: larger;
}

.free_assessment_main h1 {
  animation: pulse 1.5s infinite;
  background-color: #015249 ;
}

.free_assessment_main ol {
  text-align: initial;
}

/*------ free assessment page - end ---------*/


/*------ Color Changing Text (Only applied to h1) ------- */
@keyframes pulse {
  0%, 100% {
    color: #A4CBB1 ;
  }
  33% {
    color: #dedee4;
  }
  66% {
    color: #4D865F;
  }
}


/* ----- THE ORBS!!!! planting seeds...root...it's a metaphor - Start ----- */
.secret-orb {
  display: inline-block;
  height: 75px;
  width: 75px;
  animation:
    fade 13s ease infinite, 
    roll 13s ease infinite;
  border-radius: 100%;
  animation-play-state: running;
}


@keyframes fade {
  1%, 90%, 99% {
    background-color: #5C969D;
    }
  25% {
    background-color: #146188;
  }  
  35% {
    background-color: #A4CBB1;
  }
  55% {
    background-color: #4D865F;
    }
  }

  @keyframes roll {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(100vw, 0);
    }
  }

  .secret-orb2 {
    display: inline-block;
    float: right;
    height: 75px;
    width: 75px;
    animation:
      fade 13s ease infinite, 
      roll2 13s ease infinite;
    border-radius: 100%;
    animation-play-state: running;
  }
  
  @keyframes roll2 {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(-100vw, 0);
    }
  }
  

/* ----- THE ORBS!!!! planting seeds...root...it's a metaphor - Start ----- */
  
/* ------- Terms and Conditions - Satrt ------- */

.terms {
  color: #dedee4;
}

.terms a {
  color: inherit;
  text-decoration: none;
}

.terms a:hover {
  color: #77C9D4;
  transition: ease-in-out 500ms;
}

/* ------- Video Embed + media style - Start ------- */
.responsive-video {
  /* keep emply for media style to work */
}

@media (max-width: 800px) {
  /* adding responsive video breakpoint? */ 
  .responsive-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .responsive-video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

/* ------- Video Embed + media style - End ------- */