html {
  font-family: 'Nanum Gothic', sans-serif;

}

/* 
 * primary: #04A4CC
 * secondary: #04D6C8
 * other: #0DBF81, #04D651, #04CC15
 */

 /*
      -New color scheme attempt #1- 
  * Primary: #687864 (olive green)
  * Secondary: #31708E (ocean blue))
  * other: #50385A5 (light blue)
  * other: #8FC1E3 (light/soft blue)
  * other: #F7F9FB (white)
  */

h1 {
  font-weight: 800;
  /* color: #020202; */
}

.hero {
  background-color: #31708E;
  padding: 64px 16px;
  color: #F7F9FB;
  transition: all 500ms ease-in-out;
  text-align: center;
}

.hero img {
  width: 35%;
  
}

@media (min-width: 1000px) {
  .hero {
    border-radius: 18px;
    max-width: 900px;
    margin: 26px auto;
  }
}

.hero-link {
  background-color: #687864;
  border-radius: 4px;
  color: #F7F9FB;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 500ms ease-in-out;
}

.hero-link:hover,
.hero-link:focus {
  background-color: #8FC1E3;
}

.teaserImage {
  max-height: 300px;
  overflow: hidden;
}

.teaserImage-theImageSilly {
  width: 100%;
}